#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define MAC     1
#define LOWER   2
#define RAISE   3
#define ADJUST  4

#define HYPER(key) LS(LC(LA(LG(key))))
#define MEH(key)   LS(LC(LA(key)))

&sl { release-after-ms = <5000>; };

&kscan0 {
    debounce-press-ms = <30>;
    debounce-release-ms = <30>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp N1              &kp N2          &kp N3            &kp N4             &kp N5                                 &kp N6        &kp N7             &kp N8           &kp N9           &kp N0               &bootloader
&kp TAB         &kp Q               &kp W           &kp E             &kp R              &kp T                                  &kp Y         &kp U              &kp I            &kp O            &kp P                &kp MINUS
&kp LEFT_SHIFT  &mt LEFT_CONTROL A  &mt LEFT_ALT S  &mt LEFT_GUI D    &mt LEFT_SHIFT F   &kp G                                  &kp H         &mt RIGHT_SHIFT J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt RCTRL SEMICOLON  &kp SQT
&kp LCTRL       &kp Z               &kp X           &kp C             &kp V              &kp B                                  &kp N         &kp M              &kp COMMA        &kp DOT          &kp FSLH             &kp BACKSLASH
                                                    &kp LEFT_BRACKET  &kp RIGHT_BRACKET                                                                          &kp PLUS         &kp EQUAL
                                                                                         &kp LBKT       &kp SPACE    &kp ENTER  &kp MINUS
                                                                                         &kp TAB        &kp HOME     &kp END    &kp DEL
                                                                                         &kp BACKSPACE  &kp GRAVE    &kp LGUI   &kp LEFT_ALT
            >;
        };
    };
};
